<h1><%= @wiki.title %></h1>

<div class="rows">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% end %>
    <% if current_user && current_user.admin? %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this Wiki?"} %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form' %>
  </div>
</div>
